/* Throughout the codebase styles */

html, body, body div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}
button {
  border: none;
  background-color: transparent;
  color: rgb(211, 217, 223);
  outline: 0;
}
button:hover {
  color: white;
}
button:active {
  outline: 0;
  border: 0;
}
div {
  margin: 5%;
  color: aliceblue;
}

/* Main App Component styles */

.newBackGrounBtn {
  text-shadow: 2px 2px 4px #000000;
}
.topBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottomBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  color:aliceblue;
  text-align: center;
  background: rgba(0, 0, 0, 0.56);
}

/* Weather Widget Component styles */

.WeatherWidget {
  background: rgba(0, 0, 0, 0.56);
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  margin-right: 1%;
}
.tempBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px;
  border-style: solid;
  border-color: aliceblue;
  justify-content: center;
  width: 50%;
}
.mainTemp {
  font-size: x-large;
}
.weatherBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.weatherIcon {
  background-color: lightblue;
}
.tempFormatBox {
  display: flex;
  flex-direction: row;
}

/* Clock Widget Component styles */

.clockWidget {
  width: 25%;
  background: rgba(0, 0, 0, 0.56);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.clock {
  font-size: xx-large;
}

/* Quote Widget Component styles */

.quoteWidget {
  background: rgba(0, 0, 0, 0.56);
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  margin-left: 1%;
}
.quoteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quoteBox:hover > .quoteAuthor {
  display: block;
}
.quoteBtn {
  align-self: flex-end;
}
.quoteMessage {
  font-size: large;
  text-align: center;
}
.quoteAuthor {
  font-size: smaller;
  display: none;
}