body {
  min-height: 100%;
  background-image: url('../../dist/extras/testImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.test {
  color:aliceblue;
}